body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

body {overflow-y: scroll; min-width: 280px;}

button,
input,
textarea,
select {outline: none;}

button,
input[type="radio"],
input[type="checkbox"],
select {cursor: pointer;}

ul,ol{list-style:none;}

a{text-decoration:none;}