/*myApp*/
.myApp {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* nav */
:root {
    --NavAccentColor: #164863;
    --NavTextColor: #f0f4f5;
    --NavBackgroundColor: #427D9D;}

nav a {
    text-decoration: none;
    color: var(--NavTextColor);}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--NavBackgroundColor);
    padding: 8px 12px;
}

.nav_logo {
    font-size: 24px;
    color: var(--NavTextColor);
}

.nav_logo i {
    color: var(--NavAccentColor);
}

.nav_logo span {
    color: var(--NavAccentColor);
}

.nav_logo a {
    position: relative;
}


/*contents*/
@media (max-width: 600px) {
    .body {
        font-size: 14px;
    }
}
.contents {
    width: 100%;
    flex: 1;
    padding: 20px;
}

/*footer*/
@media (max-width: 600px) {
    .footer {
        font-size: 14px;
    }
}
.footer {
    background-color: darkgray;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 300px;
}


@media (max-width: 600px) {
    .homeDiv {
        width: 100%; /* On smaller screens, display one column per row */
    }
}